*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

 .font-inter {
  font-family: "Inter", sans-serif;
  
  
}
a{
    display: inline-block;
}

.container{
    max-width: 1360px;
    margin: auto ;
}
.btn-com{
    padding: 16.5px 16px;
    border-radius: 5px;
     border:1px solid #FFFFFF;
     color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn-com:hover{
    background-color: #469165;
    color: #FFFFFF;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}

header{
    background-color: #FFFFFF;
}
.log0 img{
    height: 60px;
    width:139px ;
}
nav{
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin: auto;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
}
.menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;

}
.btn{
      display: flex;
    justify-content: center;
    align-items: center;
    padding: 12.5px 16px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    background-color:#469165;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* header end */
/* banner section start */
.ban{
    background-image: url(./assets/hero-bg.png) ;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100vh;
}

.banner{
    padding-top: 123px;
    text-align: center;

   
   

}
.banh{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    gap: 6px;
    height: 35px;
    width: 229px;
    background-color: #FFFFFF;
    color: #000;
    border-radius: 50px ;
    -webkit-border-radius: 50px ;
    -moz-border-radius: 50px ;
    -ms-border-radius: 50px ;
    -o-border-radius: 50px ;
}
.banner h2{
    margin-top: 24px;
    font-size:72px ;
    font-weight: bold;
    padding: 0 295px;
    line-height: 84px;
}
.cl{
    color: #30B868;
}
.banh h4{
    color: #30B868;
    font-size: 16px;
}
.banner p{
    padding:24px 300px  32px 300px ;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;


}
.bottn{
    display: flex;
     justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 16px;
}