*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

 .font-inter {
  font-family: "Inter", sans-serif;
  
  
}
a{
    display: inline-block;
}

.container{
    max-width: 1360px;
    margin: auto ;
}
.btn-com{
    padding: 16.5px 16px;
    border-radius: 5px;
     border:1px solid #FFFFFF;
     color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn-com:hover{
    background-color: #469165;
    color: #FFFFFF;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

header{
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.log0 img{
    height: 60px;
    width:139px ;
}
nav{
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin: auto;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
}
.menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;

}
.btn{
      display: flex;
    justify-content: center;
    align-items: center;
    padding: 12.5px 16px;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    background-color:#469165;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* header end */
/* banner section start */
.ban{
    background-image: url(./assets/hero-bg.png) ;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100vh;
}

.banner{
    padding-top: 123px;
    text-align: center;

   
   

}
.banh{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    gap: 6px;
    height: 35px;
    width: 229px;
    background-color: #FFFFFF;
    color: #000;
    border-radius: 50px ;
    -webkit-border-radius: 50px ;
    -moz-border-radius: 50px ;
    -ms-border-radius: 50px ;
    -o-border-radius: 50px ;
}
.banner h2{
    margin-top: 24px;
    font-size:72px ;
    font-weight: bold;
    padding: 0 295px;
    line-height: 84px;
}
.cl{
    color: #30B868;
}
.banh h4{
    color: #30B868;
    font-size: 16px;
}
.banner p{
    padding:24px 300px  32px 300px ;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;


}
.bottn{
    display: flex;
     justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 16px;
}
/* card part */
.note{
    padding: 80px 0 36px 0;
    text-align: center;

}
.note h2{
    font-size: 48px;
    font-weight: bold;
}
.note p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
.card-main{
    display: flex;
    text-align: center;
    gap: 20px;
    
}
.card-div{
    height: 50px;
    width: 50px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.card{
    background-color: #FFFFFF;
    padding: 70px 24px;
}
.card-div img{
    width: 24px;
    height: 24px;
}
.card h3{
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
}
.card p{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
/* card end */
/* knowledge */
#knowledge-main{
    margin: 120px 0;
}
.knowledge{
    display: flex;
    justify-content: space-between;
     gap: 60px;
}
.one{
    display: flex;
    gap: 7px;
    margin-top: 16px;
}
.one h5{
    font-size: 16px;
    font-weight: 400;

}
.know1{
    width: 40%;
   
    
}
.know1 img{
    width: 100%;
    height: 100%;
  
}
.know2{
    margin-top: 118px;
   width: 60%;
   padding-right: 295px;
  
}
.know2 h2{
    margin-top: 16px;
     font-size: 48px;
    font-weight: bold;
    

}
.know2 p{
       margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
    
}
/* knoeledge section end */
/* readty start */
.ready1{

   text-align: center;
   padding:80px 0 ;
   background-color: #F7F6F2;
}
.ready1 h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.ready1 p{
    font-size: 16px;
    font-weight: 500;
    color: #627382;
    padding: 0 380px;
    margin-bottom: 24px;
}
.ready1 a{
    padding:17px 16px;
    background-color: #469165;
    color: #FFFFFF;
    display: inline-flex;
    gap: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 16px;
}
.ready2{
    display: flex;
  
}

#footer{
    margin-top: 120px;
    background-color: #001931;
}
.footer1{
    display: flex;
    justify-content: space-between;
    padding: 125px 30px 125px 0px;
    border-bottom: 1px solid #E5E7EB;
}
.foot h3{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom:20px ;
}
.icon{
    display: flex;
    gap: 6px;
    color: #FFFFFF;
}
#cp{
    background-color: #001931;
}
.copy{
   text-align: center;
   color:#FFFFFF;
   padding: 30px 0;
   
}